PORT=3000
DATABASE_URL=
POSTGRES_SSL=true

LINE_CHANNEL_SECRET=
LINE_CHANNEL_ACCESS_TOKEN=
BOT_DISPLAY_NAME=เมื่อไรจะไปกิน

GOOGLE_MAPS_API_KEY=
GOOGLE_REGION_CODE=TH
GOOGLE_LANGUAGE_CODE=th
GOOGLE_DAILY_VALIDATION_LIMIT=100
GOOGLE_GROUP_DAILY_VALIDATION_LIMIT=30
